body {
  font-family: sans-serif;
  margin: 0;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 0;
  text-align: center;
}

@media (min-width: 992px) {
  .nav-link {
    display: inline-block;
    padding: 0 0.5rem;
    text-align: left;
  }
}
